@using StrawPoll.Models;
@model ConfirmationCreation
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "ConfirmationCreation";
}
<!DOCTYPE html>

@section Title
    {
    Votre sondage est bien crée sur Petra's Straw Poll
}

<p></p>
<p></p>
<fieldset>
    <h3 class="bg-white text-danger card-text text-center">  Attention de bien garder le lien désactivé sur un lieu sûr ! </h3>
    <p></p>
    <p></p>
    <p></p>
    <h4 class="form-group row">
        <label for="staticDesactiver" class="col-sm-2 text-dark col-form-label">Désactiver :</label>
        <div class="col-sm-10">
            <a href="@Url.Action("VoteDesactiver", new { idSondage = Model.NouveauSondage.IdSondage, numSecurite = Model.NouveauSondage.NumSecurite}) " class="btn btn-primary">@Url.Action("VoteDesactiver", new { idSondage = Model.NouveauSondage.IdSondage, numSecurite = Model.NouveauSondage.NumSecurite }) </a>

        </div>
    </h4>
</fieldset>


<fieldset>
    <h3 class="bg-white text-danger card-text text-center">  A partager avec vos amis   </h3>
    

    <h4 class="form-group row">
        <label for="staticVoter" class="col-sm-2 text-dark col-form-label">Vote :</label>
        <div class="col-sm-10">
            <a href="@Url.Action("Vote", new { idSondage = Model.NouveauSondage.IdSondage }) " class="btn btn-primary">@Url.Action("Vote", new { idSondage = Model.NouveauSondage.IdSondage })</a>
        </div>

    </h4>

    <h4 class="form-group row">
        <label for="staticResultat" class="col-sm-2 text-dark col-form-label">Résultat:</label>
        <div class="col-sm-10">
            <a href="@Url.Action("Resultat", new { idSondage = Model.NouveauSondage.IdSondage }) " class="btn btn-primary">@Url.Action("Resultat", new { idSondage = Model.NouveauSondage.IdSondage })</a>
        </div>
    </h4>

</fieldset>

    </div>
<p></p>
<fieldset style="text-align:center">
    <a href="@Url.Action("Accueil")" class="btn btn-primary textall">Accueil</a>

</fieldset>
<p></p>
<p></p>
