@using StrawPoll.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CreationInvalide</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width" />

</head>
<body class="card bg-light  mb-3">

    <div class="card  mb-3">

        <div class="card-header text-dark bg-primary mb-3 text-center"><h1> <img src="../../Content/logo.jpg" />                        Petra's Straw Poll</h1></div>
        <div class="card-body text-primary">
            <h2 class="card-title text-dark text-center">
                Création incorrecte
            </h2>
            <p></p>
            <h4 class="card-text text-center text-danger">
                Vous devez saissir au moins une question et deux réponse !
            </h4>
            <h4 class="card-text text-center">
                <br>   Recommencer s'il vous plaît<br />
                <br>   <br />
            </h4>


            <form>
                <div class="row">
                    <p class="col">   </p>
                    <div class="col">
                        <a href="@Url.Action("Accueil")" class="btn col  btn-primary  ">Accueil</a>
                    </div>
                    <p class="col">   </p>
                    <div class="col">
                        <a href="@Url.Action("Creation")" class="btn col btn-primary  ">Créer un sondage</a>
                    </div>
                    <p class="col">   </p>
                </div>
            </form>
            <p></p>
            <p></p>
            <p></p>
            <p></p>

            <div class="container-fluid card-group   text-white bg-primary mb-3 border-primary" ;">

                <div class="card-body">
                    <h5 class="card-text"> <a href="@Url.Action("APropos") "><i class="fa fa-copyright text-white"> Copyright 2019 Petra Mazellier</i></a></h5>
                </div>
                <div class=" card-body">
                    <h5 class="card-text"> <a href="@Url.Action("Condition") "><i class="fa fa-info-circle text-white">  Conditions d'utilisation</i></a></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-text"> <a href="@Url.Action("Confidentialite") "><i class="fa fa-lock text-white ">  Confidentialité et cookies</i></a></h5>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
