@using StrawPoll.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Creation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width" />

</head>
<body class="card bg-light  mb-3">
     
        <div class="card mb-3 card-header text-dark bg-primary mb-3 text-center"><h1> <img src="../../Content/logo.jpg" />                        Petra's Straw Poll</h1></div>
        <div class="card-body text-primary">
            <h2 class="card-title text-dark text-center">
                Création du sondage
            </h2>
            <p></p>

            <form action="@Url.Action("SubmitCreation")" method="get">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Question :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="question" checked placeholder="Saissisez votre question svp">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Réponse 1 :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="reponse1" placeholder="Entrez votre réponse svp">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Réponse 2 :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="reponse2" placeholder="Entrez votre réponse svp">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Réponse 3 :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="reponse3" placeholder="Entrez votre réponse svp">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Réponse 4 :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="reponse4" placeholder="Entrez votre réponse svp">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">  </div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="multiSondageString">
                            <label class="form-check-label">
                                Choix multiples
                            </label>
                        </div>
                    </div>
                </div>

                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <fieldset style="text-align:center">
                    <input type="submit" class="btn btn-primary textall" value="Créer le sondage" : />
                </fieldset>
            </form>

            <p></p>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small  pt-4">
            <div class=" footer-copyright card-group   text-white bg-primary mb-3 border-primary" ;">
                <div class="card-body">
                    <h5 class="card-text"> <a href="@Url.Action("APropos") "><i class="fa fa-smile text-white">             A propos </i></a></h5>
                </div>
                <div class=" card-body">
                    <h5 class="card-text"> <a href="@Url.Action("Condition") "><i class="fa fa-info-circle text-white">    Conditions d'utilisation</i></a></h5>
                </div>
                <div class="card-body">
                    <h5 class="card-text"> <a href="@Url.Action("Confidentialite") "><i class="fa fa-lock text-white ">    Confidentialité et cookies</i></a></h5>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                © 2019 Copyright:
                <a href="@Url.Action("Accueil") ">    Petra's Straw Poll</a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
