@using StrawPoll.Models;
@model VoteDesactiver
@{
    Layout = "~/Views/Shared/MaDisposition.cshtml";
}
@{
    ViewBag.Title = "VoteDesactiver";
}
@section Title
{
    Désactivation du sondage
}


        <h2 class="card-title  text-primary  text-center">
           
        </h2>
        <p></p>
        <h3 class="card-title text-danger text-center">
            Voulez vous vraiment arrêter les votes ?
        </h3>
        <p></p>
        <div>
            <h4 class="card-title mb3 text-primary text-center col-sm-10">
                Question :

                <label class="card-title text-dark text-center col-sm-10">
                    @Model.SondageADesactiver.NomSondage
                </label>
            </h4>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            @foreach (var reponseCourant in Model.ReponseADesactiver)
            {
                <h5 class="card-title  text-dark text-center col-sm-10">
                    Réponse @reponseCourant.CompteurReponse :

                    <label class="card-title text-primary text-center col-sm-10">
                        @reponseCourant.NomReponse
                    </label>
                </h5>

            }
        </div>
    </div>

    <p></p>
    <form>
        <div class="row">
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("ConfirmationDesactiver", new { idSondage = Model.SondageADesactiver.IdSondage , numSecurite = Model.SondageADesactiver.NumSecurite})" class="btn col  btn-primary  ">Confirmer</a>
            </div>
            <p class="col">   </p>
            <div class="col">
                <a href="@Url.Action("Resultat", new { idSondage = Model.SondageADesactiver.IdSondage })" class="btn col btn-primary  ">Résultat</a>
            </div>
            <p class="col">   </p>
        </div>
    </form>
    <p></p>
    <fieldset style="text-align:center">
        <a href="@Url.Action("Accueil")" class="btn btn-primary textall">Accueil</a>

    </fieldset>
    <p></p>
    <p></p>
    <p></p>
   