
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VoteDesactiver</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width" />

</head>
<body class="card bg-light  mb-3">

    <div class="card  mb-3">

        <div class="card-header text-dark bg-primary mb-3 text-center"><h1> <img src="../../Content/logo.jpg" />                        Petra's Straw Poll</h1></div>
        <div class="card-body text-primary">
            <h2 class="card-title text-dark text-center">
                Désactivation du sondage
            </h2>
            <p></p>
            <h3 class="card-title text-danger text-center">
                Voulez vous vraiment arrêter les votes ?
            </h3>
            <p></p>
            <form>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext text-center" id="question" value="Vous voulez manger ou ?">
                    </div>
                </div>
                <div class="form-check ">
                    <label class="form-check-label col" for="reponse1">
                        <input type="text" readonly class="form-control-plaintext text-primary  col" id="reponse1" value=" Restaurant Chinois">
                    </label>
                </div>
                <div class="form-check ">
                    <label class="form-check-label col" for="reponse2">
                        <input type="text" readonly class="form-control-plaintext text-primary  col" id="reponse2" value=" Restaurant Japonais">
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label col" for="reponse3">
                        <input type="text" readonly class="form-control-plaintext text-primary  col" id="reponse3" value=" Restaurant Alsacien">
                    </label>
                </div>

            </form>
        </div>

        <p></p>
        <form>
            <div class="row">
                <p class="col">   </p>
                <div class="col">
                    <a href="@Url.Action("ConfirmationDesactiver")" class="btn col  btn-primary  ">Confirmer</a>
                </div>
                <p class="col">   </p>
                <div class="col">
                    <a href="@Url.Action("Resultat")" class="btn col btn-primary  ">Résultat</a>
                </div>
                <p class="col">   </p>
            </div>
        </form>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

        <div class="container-fluid card-group   text-white bg-primary mb-3 border-primary" ;">

            <div class="card-body">
                <h5 class="card-text"> <a href="@Url.Action("APropos") "><i class="fa fa-copyright text-white"> Copyright 2019 Petra Mazellier</i></a></h5>
            </div>
            <div class=" card-body">
                <h5 class="card-text"> <a href="@Url.Action("Condition") "><i class="fa fa-info-circle text-white">  Conditions d'utilisation</i></a></h5>
            </div>
            <div class="card-body">
                <h5 class="card-text"> <a href="@Url.Action("Confidentialite") "><i class="fa fa-lock text-white ">  Confidentialité et cookies</i></a></h5>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
